<div class="container">
  <div class="jumbotron">
    <h1>About Ridemon:</h1>
    <p>Gotta ride 'em all.</p>
  </div>
</div>

<div class="container">
  <h1>About Us:</h1>
  <hr>
  <section>
    <img src="https://avatars1.githubusercontent.com/u/10506689?v=3&s=460" class="img-grav">
    <h3>Tommy Tommy Tommy</h3>
    <p>Tommy!</p>
    <p>I am a software engineer specializing in web development. I code in Javascript, and have had a broad exposure to many of the technologies built on that language. After graduating from UC Davis with a BS in Managerial Economics I switched my focus to software engineering. My desire in the future is to master more languages and continue to grow my technical skills. This will allow me to use my business knowledge in conjunction with my technical skills to be an effective product manager in a technological field.</p>
  </section>
  <hr>
  <section>
    <img src="https://avatars0.githubusercontent.com/u/6664318?v=3&s=460" class="img-grav">
    <h3>Terrific Tremendous Travis</h3>
    <p>T Dizzle in the house!</p>
  </section>
  <hr>
  <section>
    <img src="https://avatars2.githubusercontent.com/u/8811312?v=3&s=460" class="img-grav">
    <h3>Tyrannically Terrible Typist</h3>
    <p>Sup.</p>
    <p>I am a software engineer based in the San Francisco Bay Area.</p>
    <p>Hailing from New Mexico, I earned a B.A. in Mathematics from New York University, where I was a Presidential Honors Scholar, a Steffi Berne scholar, a recipient of two academic research grants, and a Founder’s Day awardee. While at N.Y.U., I minored in both Middle Eastern Studies and History, studied Modern Standard Arabic in Tel Aviv, and participated in academic trips to Italy and to Ghana. I also held part-time positions and internships, and volunteered extensively.</p>
    <p>I first explored programming through an applied math course at the Courant Institute at N.Y.U. Creating and experimenting with mathematical models of biological systems in MATLAB was a pivotal experience that propelled me towards programming as a career.</p>
    <p>I expanded my knowledge of programming by studying web development at MakerSquare, a software engineering school. At the conclusion of my program, MakerSquare offered me a three-month role as a Fellow.</p>
    <p>As a Fellow, I was privileged every day to mentor students in JavaScript, AngularJS, Backbone, Node, Express, CoffeeScript and more as they worked towards their new careers. I also lectured on technical topics, interviewed prospective students, conducted all-day workshops, and did whatever was necessary to help the team succeed.</p>
  </section>
</div>