<div class="container">
  <div class="jumbotron">
    <h1>About Ridemon:</h1>
    <p>Gotta ride 'em all.</p>
  </div>
</div>

<div class="container">
  <h1>About Us:</h1>
  <hr>
  <section class="col-lg-4">
    <img src="https://avatars1.githubusercontent.com/u/10506689?v=3&s=460" class="img-grav">
    <h3>Thomas Logan</h3>
    <p><i>Fellow</i>, MakerSquare</p>
    <p>thomas.logan@makersquare.com</p>
    <p><a href="https://github.com/tdlogan/">GitHub</a> | <a href="https://www.linkedin.com/in/tdloganj/">LinkedIn</a></p>
    <hr>
    <p>I am a software engineer specializing in web development. I code in Javascript, and have had a broad exposure to many of the technologies built on that language. After graduating from UC Davis with a BS in Managerial Economics I switched my focus to software engineering. My desire in the future is to master more languages and continue to grow my technical skills. This will allow me to use my business knowledge in conjunction with my technical skills to be an effective product manager in a technological field.</p>
  </section>
  <section class="col-lg-4">
    <img src="https://avatars0.githubusercontent.com/u/6664318?v=3&s=460" class="img-grav">
    <h3>Travis Neufeld</h3>
    <p><i>Fellow</i>, MakerSquare</p>
    <p>travis.neufeld@makersquare.com</p>
    <p><a href="https://github.com/TravisJN">GitHub</a> | <a href="https://www.linkedin.com/in/travisjneufeld">LinkedIn</a></p>
    <hr>
    <p>Trained from the age of 3 to seek, hunt, and catch any and all forms of monsters of the pocket variety, I'm a certified gym leader beater. A benevolent master, my Pokemon love being in my charge and will willingly fight, sometimes all the way down to zero hp, to expand my collection on my incessant journey to catch 'em all. Having won many battles (including a nail-biting victory against Ash Ketchum and his famous Pikachu in which I won with my last Pokemon, Goldeen, at 1 hp who used splash to generate a pool of water beneath Pikachu just as he fired a deadly electric shock, thus electrecuting himself and handing me the victory), I've been lauded as THE BEST Pokemon trainer of all time, though, being the humble person I am, I don't like to boast.</p>
  </section>
  <section class="col-lg-4">
    <img src="https://avatars2.githubusercontent.com/u/8811312?v=3&s=460" class="img-grav">
    <h3>Tessa Kelly</h3>
    <p><i>Engineer</i>, NoRedInk</p>
    <p>tessakkelly@gmail.com</p>
    <p><a href="https://github.com/tesk9">GitHub</a> | <a href="https://www.linkedin.com/in/tessakkelly">LinkedIn</a></p>
    <hr>
    <p>I am a software engineer based in the San Francisco Bay Area.</p>
    <p>Hailing from New Mexico, I earned a B.A. in Mathematics from New York University, where I was a Presidential Honors Scholar, a Steffi Berne scholar, a recipient of two academic research grants, and a Founder’s Day awardee. While at N.Y.U., I minored in both Middle Eastern Studies and History, studied Modern Standard Arabic in Tel Aviv, and participated in academic trips to Italy and to Ghana. I also held part-time positions and internships, and volunteered extensively.</p>
    <p>I first explored programming through an applied math course at the Courant Institute at N.Y.U. Creating and experimenting with mathematical models of biological systems in MATLAB was a pivotal experience that propelled me towards programming as a career.</p>
    <p>I expanded my knowledge of programming by studying web development at MakerSquare, a software engineering school. At the conclusion of my program, MakerSquare offered me a three-month role as a Fellow.</p>
    <p>As a Fellow, I was privileged every day to mentor students in JavaScript, AngularJS, Backbone, Node, Express, CoffeeScript and more as they worked towards their new careers. I also lectured on technical topics, interviewed prospective students, conducted all-day workshops, and did whatever was necessary to help the team succeed.</p>
  </section>
</div>
