<div>
  <h1>Login or Signup You Wonderful Wonderful Person Welcome</h1>
  
  <div ng-controller="UserController">
    <span>
      <div class="col-lg-6">
        <div class="well bs-component">
          <form class="form-horizontal">
            <fieldset>
              <legend>Existing Collectors</legend>
              <div class="form-group">
                <label for="loginUsername" class="col-lg-2 control-label">Username</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" id="loginUsername" placeholder="username" ng-model="user.username">
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                  <button type="reset" class="btn btn-default">Cancel</button>
                  <button ng-click="login()" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </span>

    <span>
      <div class="col-lg-6">
        <div class="well bs-component">
          <form class="form-horizontal">
            <fieldset>
              <legend>New Collectors</legend>
              <div class="form-group">
                <label for="signupUsername" class="col-lg-2 control-label">Username</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" id="signupUsername" placeholder="username" ng-model="newUser.username">
                </div>
              </div>
              <div class="form-group">
                <label for="signupEmail" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" id="signupEmail" placeholder="Email" ng-model="newUser.email">
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                  <button type="reset" class="btn btn-default">Cancel</button>
                  <button ng-click="signup()" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </span>
  </div>
</div>

