<div class="container">
  <div class="col-lg-10 well bs-component">
    <header class="center-text">
      <h1>The Leaderboard</h1>
      <p>{{users}}</p>
      <p ng-show="userArray.length">These are the best collectors in town!</p>
    </header>

    <div ng-controller="LeaderboardController">
      <table class="table table-striped table-hover">
        <thead>
          <th>
            <td><strong>Name</strong></td>
            <td><strong>Pokecount</strong></td>
          </th>
        </thead>
        <tbody>
          <tr ng-repeat="user in userNames | orderBy: '-pokemonCount'">
            <td>{{$index + 1}}. </td>
            <td>{{user.name}}</td>
            <td>{{user.pokemonCount}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
