<div ng-controller="PokedexController">
  <header class="center-text">
    <div class="pokedex"><h1><img data-ng-src="./components/pokedex/pokedex.png">Your Pokedex!</img></h1><div>
    <p id="pokemon-message">{{ pokemon.message }}</p>
  </header>

  <hr>

  <div>
    <div class="pokemon" ng-repeat="pokemon in pokemon.pokemon">
      <div class="container-boxed-sm col-lg-2 col-md-4 col-sm-3">
        <div>
          <img class="img-sm-overlay-right" data-ng-src="http://pokeapi.co{{ pokemon.image }}/">
        </div>
        <table class="table table-striped table-hover">
          <tbody>
            <tr>
              <td>Name:</td>
              <td ng-mouseover="readToMe(pokemon.name)"><strong>{{ pokemon.name }}</strong></td>
            </tr>
            <tr>
              <td>Captured:</td>
              <td>{{ pokemon.caught }}</td>
            </tr>
            <tr>
              <td>Abilities:</td>
              <td>
                <p ng-repeat="ability in pokemon.abilities">{{ ability.name }}</p>
              </td>
            </tr>
            <tr>
              <td>Evolves to:</td>
              <td>{{ pokemon.evolvesTo }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
