<div class="col-lg-10" ng-controller="RequestController">
  <div class="well bs-component">
    <form name="requestRideForm" novalidate class="form-horizontal" ng-submit="requestRide()" >
      <fieldset>
        <legend>Request a Ride</legend>
        <div class="form-group">
          <label for="start" class="col-lg-2 control-label">Starting Address</label>
          <div class="col-lg-7">
            <input type="text" class="form-control" id="start" ng-model="request.start_address" placeholder="Starting Address" ng-disabled="requestRideForm.$submitted" required>
          </div>
          <div class="col-lg-3">
            <button type="button" class="btn btn-default" ng-click="useCurrentLocation()" ng-disabled="!current.address || requestRideForm.$submitted">Use My Current Location</button>
          </div>
        </div>
        <div class="form-group">
          <label for="destination" class="col-lg-2 control-label">Destination</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="destination" ng-model="request.destination" placeholder="Ending Address" ng-disabled="requestRideForm.$submitted" required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button type="reset" ng-click="message=''" class="btn btn-default" ng-disabled="requestRideForm.$submitted">Cancel</button>
            <button type="submit" class="btn btn-primary" ng-disabled="requestRideForm.$invalid || requestRideForm.$submitted">Request Your Ride</button>
          </div>
        </div>
      </fieldset>
    </form>

    <ng-include src="'partials/requestError.html'"></ng-include>
    <ng-include src="'partials/rideConfirmation.html'"></ng-include>
  </div>
</div>